name: Build

on:
  workflow_dispatch:
  pull_request:

jobs:
  plan:
    runs-on: ubuntu-latest

    outputs:
      plan: ${{ steps.plan.outputs.plan }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v20

      - name: Calculate jobs
        id: plan
        run: |
          ./.github/ci.py \
            -c ./.github/ci.yaml \
            plan build \
            >> "$GITHUB_OUTPUT"

  build:
    needs: plan
    strategy:
      matrix:
        os:
          - ubuntu-latest
        job-spec: ${{ fromJSON(needs.plan.outputs.plan) }}

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.job-spec.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Free Disk Space
        uses: wimpysworld/nothing-but-nix@v6

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v20

      - name: Setup gha cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-flakehub: false

      - name: Write key to disk
        id: key_file
        env:
          CI_KEY: ${{ secrets.CI_KEY }}
        run: |
          key_file=$(mktemp)
          >"$key_file" echo "$CI_KEY" 
          >>"$GITHUB_OUTPUT" echo "key_file=$key_file"

      - name: Install buildtime-secrets-nix
        uses: ttrssreal/buildtime-secrets-nix-install-action@main
        with:
          ci-key-file: ${{ steps.key_file.outputs.key_file }}
          sops-file: secrets/buildtime.yaml

      - name: Build
        run: ${{ matrix.job-spec.command }}
