name: Eval

on:
  workflow_dispatch:
  push:

jobs:
  plan:
    runs-on: ubuntu-latest

    outputs:
      plan: ${{ steps.plan.outputs.plan }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@d96bc962e61b3049ce8128d03d57a1144fa96539
        with:
          summarize: false

      - name: Calculate jobs
        id: plan
        run: |
          ./.github/ci.py \
            -c ./.github/ci.yaml \
            plan eval \
            >> "$GITHUB_OUTPUT"

  eval:
    needs: plan
    strategy:
      matrix:
        os:
          - ubuntu-latest
        job-spec: ${{ fromJSON(needs.plan.outputs.plan) }}

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.job-spec.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@d96bc962e61b3049ce8128d03d57a1144fa96539
        with:
          summarize: false

      - name: Setup gha cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-flakehub: false

      - name: Eval
        # capture logs to generate a summary
        run: ./.github/ci.py run ${{ matrix.job-spec.command }}
