name: "Update nix dependencies"

on:
  workflow_dispatch:
  schedule:
    # https://crontab.guru/#30_12_*_*_3
    - cron: '30 12 * * 3'

jobs:
  nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@d96bc962e61b3049ce8128d03d57a1144fa96539
        with:
          summarize: false

      - uses: DeterminateSystems/update-flake-lock@v27
        with:
          commit-msg: "flake.lock: update"
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            automated
